.faded {
  transition: opacity 1s ease-out;
}

.faded--active {
  opacity: 0.35;
}

.faded--active:hover,
.faded--active:active,
.faded--active:focus,
.faded--active:focus-within {
  opacity: 1;
  transition-duration: 0.33s;
}

.title {
  color: var(--color-title);
}

.sub-title {
  color: var(--color-sub-title);
  margin-bottom: 1em;
}
