/* vue helper css */
[v-cloak] {
  display: none;
}

.loading--invisible {
  visibility: hidden;
}

/* default for light mode */
:root,
.color-scheme--light {
  --color-background: #fff;
  --color-background-accent: #ffe0e0;
  --color-background-footer: #f3f3f3;

  --color-body-text: #202040;
  --color-body-text-disabled: #570d0d;

  --color-title: #532323;
  --color-sub-title: #675252;

  --color-focus-highlight: rgba(0, 0, 255, 0.5);

  --color-input-primary: #00823b;
  --color-input-secondary: #ffcc66;
  --color-input-disabled: #d3d3d3;
}

.color-scheme--dark {
  --color-background: #1c082a;
  --color-background-accent: #3d1e45;
  --color-background-footer: #320030;

  --color-body-text: #ffcc66;
  --color-body-text-disabled: #ffbcbc;

  --color-title: #ff86d8;
  --color-sub-title: #d15ba8;

  --color-focus-highlight: rgba(253, 152, 255, 0.75);

  --color-input-primary: #27d4bc;
  --color-input-secondary: #383844;
  --color-input-disabled: #d3d3d3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1c082a;
    --color-background-accent: #3d1e45;
    --color-background-footer: #320030;

    --color-body-text: #ffcc66;
    --color-body-text-disabled: #ffbcbc;

    --color-title: #ff86d8;
    --color-sub-title: #d15ba8;

    --color-focus-highlight: rgba(253, 152, 255, 0.75);

    --color-input-primary: #27d4bc;
    --color-input-secondary: #383844;
    --color-input-disabled: #d3d3d3;
  }
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-focus-highlight);
}

body {
  font-family: sans-serif;
  font-size: 18px;
}

#app {
  color: var(--color-body-text);
  background: var(--color-background);
  border-top: 10px solid var(--color-background-accent);
}

.main,
.footer {
  padding: 1em;
}

.footer {
  background: var(--color-background-footer);
}

.footer__credits {
  margin-bottom: 1em;
}

.footer__credits__item {
  margin-bottom: 0.25em;
  list-style-position: inside;
}

.footer__credits__link,
.footer__link {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-body-text);
}

.footer__credits__link:hover,
.footer__link:hover {
  opacity: 0.85;
}

.footer__link {
  display: block;
  margin-bottom: 1em;
}

input,
select,
button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.title {
  color: var(--color-title);
}

.sub-title {
  color: var(--color-sub-title);
  margin-bottom: 1em;
}

h2 {
  margin-top: 1.75em;
  margin-bottom: 0.75em;
}

h2:first-child {
  margin-top: 1em;
}

.faded {
  transition: opacity 1s ease-out;
}

.faded--active {
  opacity: 0.35;
}

.faded--active:hover,
.faded--active:active,
.faded--active:focus,
.faded--active:focus-within {
  opacity: 1;
  transition-duration: 0.33s;
}

.input {
  margin-bottom: 1em;
}

.input__label {
  display: block;
  margin-bottom: 0.5em;
}

.input__field,
.input__select {
  padding: 0.5em 0.75em;
  font-size: 1.25em;
  background: var(--color-background);
  border: 3px solid var(--color-body-text);
}

.input__field:disabled,
.input__select:disabled {
  background: var(--color-input-disabled);
  border-color: var(--color-input-disabled);
  color: var(--color-background);
  cursor: initial;
}

.button {
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  padding: 0.5em 1em;

  font-weight: 700;
  border-radius: 5px;
  border: 3px solid transparent;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.button:hover {
  opacity: 0.85;
}

.button--bigger {
  margin-right: 0.5em;
  padding: 0.65em 1em;
  font-size: 1.75em;
  border-width: 4px;
}

.button--primary {
  background: var(--color-input-primary);
  border-color: var(--color-input-primary);
  color: var(--color-background);
}

.button--secondary,
.button--tertiary {
  background: var(--color-background);
  color: var(--color-body-text);
}

.button--secondary {
  border-color: var(--color-input-secondary);
}

.button--tertiary {
  border-color: var(--color-background);
}

.button:disabled {
  background: var(--color-input-disabled);
  border-color: var(--color-input-disabled);
  color: var(--color-background);
  cursor: initial;
}

.toggle {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.toggle__button {
  position: relative;
  display: flex;
  width: 100px;
  padding: 0.5em 1em;
  padding-left: 2.5em;
  margin-right: 1em;
  align-items: center;
  justify-content: flex-end;

  font-weight: 700;

  border-radius: 50px;
  border: 3px solid var(--color-input-secondary);
  background: var(--color-background);

  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.toggle__button:hover {
  opacity: 0.95;
}

.toggle__button--active {
  padding-left: 1em;
  padding-right: 2.5em;
  justify-content: flex-start;
  background: var(--color-input-secondary);
}

.toggle__button::before {
  content: "";
  position: absolute;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-body-text);
  transition: left 0.1s ease-out;
}

.toggle__button--active::before {
  left: calc(100% - 30px - 5px);
}

.timer {
  display: block;
  margin: 0.5em 0;
  font-weight: 700;
  font-size: 4em;
}

.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  transform-origin: 10% 90%;
}

@keyframes loaderMove {
  to {
    transform: translateY(-5px);
  }
}

.loader--active {
  animation: loaderMove 0.5s ease-out infinite alternate;
}

.loader__bar,
.loader__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loader__bar {
  mix-blend-mode: saturation;
  background: var(--color-background);
  height: 0%;
  bottom: 0;
  transition: height 1s linear;
}

.message {
  margin-top: -0.05em;
  margin-bottom: 1em;

  font-size: 0.85em;
}

.message--disabled {
  color: var(--color-body-text-disabled);
}

@media (min-width: 600px) {
  body {
    font-size: 19px;
  }

  #app {
    border: none;
    background-image: linear-gradient(
      15deg,
      var(--color-background),
      var(--color-background) 95%,
      var(--color-background-accent) 95%,
      var(--color-background-accent)
    );
  }

  .timer {
    margin: 0.25em 0;
    font-size: 6em;
  }

  .loader {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 20px;
  }

  #app {
    background-image: linear-gradient(
      110deg,
      var(--color-background),
      var(--color-background) 60%,
      var(--color-background-accent) 60%,
      var(--color-background-accent)
    );
  }

  .main,
  .footer {
    padding: 2em;
  }

  .timer {
    margin: 0;
    font-size: 10em;
  }

  .loader {
    width: 120px;
    height: 120px;
  }
}
