@keyframes loaderMove {
  to {
    transform: translateY(5px) rotate(5deg);
  }
}

.loader {
  display: inline-block;
  position: relative;
  margin-left: 0.25em;
  width: 50px;
  height: 50px;
  transform-origin: 10% 90%;
}

.loader--active {
  animation: loaderMove 0.5s 0.5s linear infinite alternate;
}

.loader__bar,
.loader__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loader__bar {
  mix-blend-mode: saturation;
  background: var(--color-background);
  height: 0%;
  bottom: 0;
  transition: height 1s linear;
}

@media (min-width: 600px) {
  .loader {
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 900px) {
  .loader {
    width: 120px;
    height: 120px;
  }
}
