<!DOCTYPE html>
<html lang="en">

<head>
  <title>Timer Town ⏱🏡</title>
  <meta name="title" content="Timer Town ⏱🏡 | A timer for pair programming">
  <meta name="description" content="A timer for pair programming">

  <!-- open Graph / facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://timer.town/">
  <meta property="og:title" content="Timer Town ⏱🏡">
  <meta property="og:description" content="A timer for pair programming">
  <meta property="og:image" content="images/share-image.png">

  <!-- twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://timer.town/">
  <meta property="twitter:title" content="Timer Town ⏱🏡">
  <meta property="twitter:description" content="A timer for pair programming">
  <meta property="twitter:image" content="images/share-image.png">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffe0e0">

  <link rel="manifest" href="/site.manifest">
  <link rel="shortcut icon" href="images/timer.png" type="image/x-icon" />

  <link rel="preload" href="css/main.css" as="style">
  <link rel="preload" href="js/bundle.js" as="script">

  <link rel="stylesheet" type="text/css" href="css/main.css">

  <!-- development version, includes helpful console warnings -->
  <!-- <script src="js/vue.js"></script> -->
  <!-- <script src="js/main.js"></script> -->

  <!-- production version, optimized for size and speed -->
  <script src="js/bundle.js" defer></script>
</head>

<body>
  <div id="app" :class="{ 'color-scheme--dark': sharedState.colorScheme === 'dark', 'color-scheme--light': sharedState.colorScheme === 'light' }">
    <main class="main">
      <div
        class="faded"
        :class="{ 'faded--active': sharedState.timerRunning }"
      >
        <h1 class="title">
          Timer Town
        </h1>
        <p class="sub-title">A timer for pair programming</p>
      </div>

      <div class="timer">
        <span v-cloak>
          {{ sharedState.timerRemainingTimeFormatted }}
        </span>
        <span v-if="false" class="loading--invisible">
          0s
        </span>

        <loader
          :is-timer-running="sharedState.timerRunning"
          :timer-progress-percentage="sharedState.timerProgressPercentage"
        >
        </loader>
      </div>

      <button
        v-on:click="handleStartPauseTimerClick"
        class="button button--bigger button--primary"
      >
        <span v-cloak>
          {{ sharedState.timerRunning ? 'Stop' : 'Start' }}
        </span>
        <span v-if="false">
          Start
        </span>
      </button>

      <button
        v-on:click="handleResetTimerClick"
        class="button button--bigger button--secondary"
      >
        Reset
      </button>

      <h2>
        Timer
      </h2>

      <div class="input">
        <label class="input__label" for="timer-end-time">
          Timer end time (minutes)
        </label>
        <input
          id="timer-end-time"
          class="input__field"
          v-model="sharedState.timerEndTimeMinutes"
          v-on:change="handleTimerEndTimeMinutesChange"
          type="number"
          min="1"
          step="1"
        />
      </div>

      <toggle-button
        :id="'timer-repeat-at-end-enabled'"
        :on-click="handleTimerRepeatAtEndEnabledClick"
        :is-active="sharedState.timerRepeatAtEndEnabled"
        :label="'Repeat timer automatically'"
      >
      </toggle-button>

      <h2>
        Audio
      </h2>

      <toggle-button
        :id="'audio-enabled'"
        :on-click="handleToggleAudioClick"
        :is-active="sharedState.audioEnabled"
        :label="'Audio'"
      >
      </toggle-button>

      <div v-if="sharedState.audioEnabled" class="input">
        <label class="input__label" for="sound-select">
          Sound
        </label>

        <select
          id="sound-select"
          :disabled="!sharedState.audioEnabled"
          v-on:change="handleAudioSelectChange"
          class="input__select"
        >
          <option value="gong" :selected="sharedState.soundName === 'gong'">
            Gong <span aria-hidden="true">🍃</span>
          </option>
          <option value="bell" :selected="sharedState.soundName === 'bell'">
            Bell <span aria-hidden="true">🔔</span>
          </option>
          <option value="foghorn" :selected="sharedState.soundName === 'foghorn'">
            Foghorn <span aria-hidden="true">🚢</span>
          </option>
          <option value="music-box" :selected="sharedState.soundName === 'music-box'">
            Music Box <span aria-hidden="true">🎶</span>
          </option>
          <option value="chief-chef" :selected="sharedState.soundName === 'chief-chef'">
            Chief Chef <span aria-hidden="true">👨‍🍳</span>
          </option>
          <option value="marshall-house" :selected="sharedState.soundName === 'marshall-house'">
            Marshall House <span aria-hidden="true">🏠</span>
          </option>
          <option value="beano-yelp" :selected="sharedState.soundName === 'beano-yelp'">
            Beano Yelp <span aria-hidden="true">😱</span>
          </option>
       		<option value="cow-moo" :selected="sharedState.soundName === 'cow-moo'">
            Cow Moo <span aria-hidden="true">🐄</span>
          </option>
        </select>
      </div>

      <button
        v-if="sharedState.audioEnabled"
        v-on:click="handleTestAudioClick"
        class="button button--secondary"
      >
        Test audio
      </button>

      <h2>
        Notifications
      </h2>

      <toggle-button
        :id="'notifications-enabled'"
        :on-click="handleToggleNotificationsClick"
        :is-active="sharedState.notificationsEnabled"
        :label="'Notifications'"
      >
      </toggle-button>
      <p v-if="sharedState.notificationPermission === 'denied'" class="message message--disabled">
        Notifications are blocked. You'll need to reallow them to handle notifications.
      </p>

      <button
        v-if="sharedState.notificationsEnabled"
        v-on:click="handleTestNotificationsClick"
        class="button button--secondary"
      >
        Test push notification
      </button>

      <h2>Dark mode</h2>

      <p class="message">
        Force it to be dark/light mode. Matches your default computer settings when set to 'Auto'.
      </p>

      <div class="input">
        <label class="input__label" for="color-scheme-select">
          Color scheme
        </label>

        <select
          id="color-scheme-select"
          v-on:change="handleColorSchemeSelectChange"
          class="input__select"
        >
          <option value="auto" :selected="sharedState.colorScheme === 'auto'">
            Auto <span aria-hidden="true">🌬️</span>
          </option>
          <option value="dark" :selected="sharedState.colorScheme === 'dark'">
            Dark <span aria-hidden="true">🌚</span>
          </option>
          <option value="light" :selected="sharedState.colorScheme === 'light'">
            Light <span aria-hidden="true">🌞</span>
          </option>
        </select>
      </div>

      <div v-cloak v-if="sharedState.colorScheme === 'auto'">
        <p class="message" v-if="!sharedState.browserColorScheme">
          No specific color scheme detected.
        </p>
        <p class="message" v-if="sharedState.browserColorScheme === 'dark'">
          Dark mode color scheme detected.
        </p>
        <p class="message" v-if="sharedState.browserColorScheme === 'light'">
          Light mode color scheme detected.
        </p>
      </div>
    </main>

    <footer class="footer">
      <h2>Data</h2>

      <button v-on:click="handleClearDataClick" class="button button--tertiary">
        Clear data
      </button>

      <h2>Credits</h2>

      <ul class="footer__credits">
        <li class="footer__credits__item">
          <a
            rel="noreferrer"
            class="footer__credits__link"
            href="https://twemoji.twitter.com/"
          >
            Timer Emoji from Twemoji
          </a>
        </li>
        <li class="footer__credits__item">
          <a
            rel="noreferrer"
            class="footer__credits__link"
            href="http://soundbible.com/1815-A-Tone.html"
          >
            Gong sound from SoundBible
          </a>
        </li>
        <li class="footer__credits__item">
          <a
            rel="noreferrer"
            class="footer__credits__link"
            href="http://soundbible.com/2218-Service-Bell-Help.html"
          >
            Bell sound from SoundBible
          </a>
        </li>
        <li class="footer__credits__item">
          <a
            rel="noreferrer"
            class="footer__credits__link"
            href="http://soundbible.com/2142-FogHorn-Barge.html"
          >
            Foghorn sound from SoundBible
          </a>
        </li>
        <li class="footer__credits__item">
          <a
            rel="noreferrer"
            class="footer__credits__link"
            href="http://soundbible.com/1619-Music-Box.html"
          >
            Music box sound from SoundBible
          </a>
        </li>
      </ul>


      <a class="footer__link" href="https://zaccolley.com">
        <span aria-hidden="true">🧹</span> Made by Zac
      </a>

      <a class="footer__link" href="https://github.com/zaccolley/timer-town">
        <span aria-hidden="true">💽</span> Issues/code on GitHub
      </a>
    </footer>
  </div>
</body>

</html>
