<!DOCTYPE html>
<html>
<head>
  <title>Pairing Timer</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
  <meta name="google" content="notranslate"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta http-equiv="cache-control" content="no-store"/>
  <meta http-equiv="expires" content="0"/>
  
  <link rel="shortcut icon" href="https://cdn.glitch.com/ce24a2eb-06b1-4db8-b239-f112690a5c04%2Fspinning-pear-still.png?1534594901659" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="style.css">
  
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
  <!-- production version, optimized for size and speed -->
  <!--   <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <script src="client.js" defer></script>
</head>
<body>
  <div id="app">
    <h1>
      Pairing Timer
    </h1>
    
    <div class="timer">
      {{ sharedState.timerRemainingTimeFormatted }}
      
      <pear-loader
        :is-timer-running="sharedState.timerRunning"
        :timer-progress-percentage="sharedState.timerProgressPercentage"
      >
      </pear-loader>
    </div>
    
    <button
      v-on:click="handleStartPauseTimerClick"
      class="button button--bigger button--primary"
    >
      {{ sharedState.timerRunning ? 'Stop' : 'Start' }}
    </button>
    
    <button
      v-on:click="handleResetTimerClick"  
      class="button button--bigger button--secondary"
    >
      Reset
    </button>
    
    <h2>
      Timer
    </h2>
    
    <div class="input">
      <label
        class="input__label"
        for="timer-end-time"
      >
        Timer end time (minutes)
      </label>
      <input
        class="input__field"
        v-model="sharedState.timerEndTimeMinutes"
        v-on:change="handleTimerEndTimeMinutesChange"
        type="number"
        min="1"
        step="1"
      />      
    </div>
    
    <toggle-button
      :id="'timer-repeat-at-end-enabled'"
      :on-click="handleTimerRepeatAtEndEnabledClick"
      :is-active="sharedState.timerRepeatAtEndEnabled"
      :label="'Repeat timer automatically'"
    >
    </toggle-button>
  
    <h2>
      Audio
    </h2>   
    
    <toggle-button
      :id="'audio-enabled'"
      :on-click="handleToggleAudioClick"
      :is-active="sharedState.audioEnabled"
      :label="'Audio'"
    >
    </toggle-button>
    
    <div class="input">
      <label
        class="input__label"
        for="timer-end-time"
      >
        Sound
      </label>
      
      <select
        :disabled="!sharedState.audioEnabled"
        v-on:change="handleAudioSelectChange"
        class="input__select"
      >
        <option value="gong" :selected="sharedState.soundName === 'gong'">Gong</option>
        <option value="chiefChef" :selected="sharedState.soundName === 'chiefChef'">Chief Chef</option>
      </select>
    </div>
    
    <button
      :disabled="!sharedState.audioEnabled"
      v-on:click="handleTestAudioClick"
      class="button button--secondary"
    >
      Test audio
    </button>
    
    <h2>
      Notifications
    </h2>
    <span v-if="sharedState.notificationPermission === 'denied'">
      Notifications are blocked. You'll need to reallow them to handle notifications.
    </span>  
  
    <toggle-button
      :id="'notifications-enabled'"
      :on-click="handleToggleNotificationsClick"
      :is-active="sharedState.notificationsEnabled"
      :label="'Notifications'"
    >
    </toggle-button>
    
    <button
      v-bind:disabled="!sharedState.notificationsEnabled"
      v-on:click="handleTestNotificationsClick"
      class="button button--secondary"
    >
      Test push notification
    </button>
    
    <h2>
      Data
    </h2>
    
    <button
      v-on:click="handleClearDataClick"
      class="button button--secondary"
    >
      Clear data
    </button>
  </div>
 </body>
</html>