.button {
  display: block;
  margin-bottom: 0.75em;
  padding: 0.5em 1em;

  font-weight: 700;
  border-radius: 5px;
  border: 3px solid transparent;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.button:hover {
  opacity: 0.85;
}

.button--bigger {
  display: inline-block;
  padding: 0.65em 1em;
  font-size: 1.75em;
  border-width: 4px;
}

.button--bigger:first-of-type {
  margin-right: 0.5em;
}

.button--primary {
  background: var(--color-input-primary);
  border-color: var(--color-input-primary);
  color: var(--color-background);
}

.button--secondary,
.button--tertiary {
  background: var(--color-background);
  color: var(--color-body-text);
}

.button--secondary {
  border-color: var(--color-input-secondary);
}

.button--tertiary {
  border-color: var(--color-background);
}

.button:disabled {
  background: var(--color-input-disabled);
  border-color: var(--color-input-disabled);
  color: var(--color-background);
  cursor: initial;
}